buildpacks = [
  { id = "io.projectriff.streaming-http-adapter",   latest = true, uri = "../streaming-http-adapter-buildpack/artifactory/io/projectriff/streaming-http-adapter/io.projectriff.streaming-http-adapter/latest" },
  { id = "io.projectriff.java",                     latest = true, uri = "../java-function-buildpack/artifactory/io/projectriff/java/io.projectriff.java/latest" },
  { id = "io.projectriff.node",                     latest = true, uri = "../node-function-buildpack/artifactory/io/projectriff/node/io.projectriff.node/latest" },
  { id = "io.projectriff.command",                  latest = true, uri = "../command-function-buildpack/artifactory/io/projectriff/command/io.projectriff.command/latest" },
  { id = "org.cloudfoundry.openjdk",                latest = true, uri = "https://repo.spring.io/libs-milestone-local/org/cloudfoundry/openjdk/org.cloudfoundry.openjdk/1.0.0-M9/org.cloudfoundry.openjdk-1.0.0-M9.tgz" },
  { id = "org.cloudfoundry.buildsystem",            latest = true, uri = "https://repo.spring.io/libs-milestone-local/org/cloudfoundry/buildsystem/org.cloudfoundry.buildsystem/1.0.0-M9/org.cloudfoundry.buildsystem-1.0.0-M9.tgz" },
  { id = "org.cloudfoundry.node-engine",            latest = true, uri = "https://github.com/cloudfoundry/node-engine-cnb/releases/download/v0.0.16/node-engine-cnb-0.0.16.tgz" },
  { id = "org.cloudfoundry.npm",                    latest = true, uri = "https://github.com/cloudfoundry/npm-cnb/releases/download/v0.0.12/npm-cnb-0.0.12.tgz" },
]

[[groups]]
  # java functions
  buildpacks = [
    { id = "org.cloudfoundry.openjdk",              version = 'latest', optional = true },
    { id = "org.cloudfoundry.buildsystem",          version = 'latest', optional = true },
    { id = "io.projectriff.streaming-http-adapter", version = 'latest', optional = true },
    { id = "io.projectriff.java",                   version = 'latest' },
  ]

[[groups]]
  # node functions
  buildpacks = [
    { id = "org.cloudfoundry.node-engine", version = 'latest', optional = true },
    { id = "org.cloudfoundry.npm",         version = 'latest', optional = true },
    { id = "io.projectriff.streaming-http-adapter", version = 'latest', optional = true },
    { id = "io.projectriff.node",          version = 'latest' },
  ]

[[groups]]
  # command functions
  buildpacks = [
    { id = "io.projectriff.command", version = 'latest' },
  ]

[stack]
  id = "io.buildpacks.stacks.bionic"
  build-image = "cnbs/build"
  run-image = "cnbs/run"
